# Binaries
*.elf
*.srec

# object files
*.o

# Junk files produced by quartus.
*.qws
incremental_db/
db/
output_files/
simulation/

# assembler stuff.
asm
*.mif
*.mem


# Other Junk
*.swp
*.bak
*.temp
*~
